
.window{
    position: absolute;
    width: 400px;
    top:100px;
    left:100px;
    backdrop-filter: blur(10px);
}
.header{
    background-color: rgba(231, 231, 231, 0.355);
    display:flex;
    flex-direction: row;
    padding-left:10px;
    justify-content: space-between;
    user-select: none; 
}
.minBtn{
    padding-right:10px;
    height:100%;
    width:20px;
    text-align: center;
    user-select: none; 
}
.minBtn:hover{
    background-color: rgba(213, 207, 35, 0.355);
    cursor: pointer;
}
.header:hover{
    background-color: rgba(231, 231, 231, 0.596);
    
}
.grabbed{
    cursor: grabbing;
}
.grab{
    cursor: grab;
}
.contentWrapper{
    width:100%;
    background-color: rgba(0, 0, 0, 0.355);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.hidden{
    display:none;
}
.selected{
    z-index: 2;
}
.over{
    background-color: rgba(80, 80, 80, 0.3);
}
.sub-over{
    background-color: rgba(207, 207, 207, 0.555);
    opacity: 0.8;
}